{% extends 'articles/article_base.html' %}

{% block section-detail %}

	<!-- PROJECTS -->

         <div id="projects" style="text-align:center">
                <h3>PROJECTS</h3>

                <div class="row-fluid" >
                        <div class="span3 well">
                                <h3>Explore Singapore</h3>
                                <p>Windows 8 Metro App. A location based recommendation service for shopping, outdoors, food, drinks, arts and coffee in Singapore. <a href="https://github.com/reemachugani/ExploreSingapore-Windows8App" class="badge badge-important">Fork it!</a></p>
                        </div>

                        <div class="span3 well">
                                <h3>ECA-life</h3>
                                <p>A University collaboration site for all activities, clubs and events with features like - personalized calendar, forums, messaging, chat, announcements, etc. <a href="https://github.com/reemachugani/eca-life" class="badge badge-important">Fork it!</a>
                                </p>
                        </div>

                        <div class="span3 well">
                                <h3>Sentiment Analysis</h3>
                                <p>A project on classification of Amazon Reviews based on Sentiment Analysis using techniques like kNN-classifier, SVM, NBM, feature subset selection, etc. to improve classification accuracy.
                                </p>
                        </div>

                        <div class="span3 well">
                                <h3>Personal Time Tracker</h3>
                                <p>Windows 8 Metro App. A personal app to track your daily activities.</p>
                        </div>
                </div>

        </div>
	

{% endblock %}
